my-project-for-bigquery-445809-59aa1ed37bf7.json
my-project-for-bigquery-445809-144bbd6237f0.json
data-platform-env/
.cursor/
apps/connections/management/
apps/connections/templates/connections/connection_forms/google_ad_manager.html
apps/connections/templates/connections/connection_forms/google_play.html
apps/connections/templates/connections/connection_forms/youtube_channel.html
.env
PRD.md
task.md
.DS_Store
.DS_Store/
**/.DS_Store
apps/queries/templates/queries/pervious_form.py

.vscode/
sturture.md
.cursorignore
frondend-sturture.md

package.json
package-lock.json
v0/
node_modules/
node_modules

**/zzz*
**/templates/
**/static/
**/__pycache__/
__pycache__/
*.pyc
*.pyo
**/forms.py